body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

/* global */

button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 180px;
  height: 45px;
  cursor: pointer;
}
button:active {
  background: linear-gradient(to right, #84e0a1, #7fd6e0);
}

.logoDark {
  width: 120px;
}
.logoWhite {
  width: 150px;
}

/* header */
.container {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #fff;
  height: 80px;
}

header img {
  align-self: center;
}

/* header nav */
header nav {
  align-self: center;
}
nav ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
nav li {
  align-self: center;
  color: hsl(233, 8%, 62%);
  list-style: none;
  font-size: 15px;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
nav li:active {
  color: #474a51;
}
nav li:active::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-image-slice: 1;
  width: 43px;
  margin: 45px 0px 0px -40px;
}

header button {
  align-self: center;
}

/* header hidden */
.menu,
.checkbox,
.menuButton,
.closeButton,
.modal {
  display: none;
}

/* showcase section */

#showcase {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 680px;
  background-color: #fafafa;
}

#showcase .tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.tagline h1 {
  color: hsl(233, 26%, 24%);
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 3%;
  line-height: 60px;
}
.tagline p {
  color: hsl(233, 10%, 68%);
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  line-height: 23px;
}

#showcase .mobile {
  margin-left: 3%;
  background: url(./images/bg-intro-desktop.svg) no-repeat;
  background-size: 1300px;
  background-position: -60px -260px;
  box-shadow: 10px #000;
  width: 70%;
  height: 700px;
}
.mobile img {
  transform: translate(170px, -130px);
}

/* whyUS section */
#whyUs {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  height: 680px;
  overflow: hidden;
}

#whyUs .info {
  width: 50%;
  margin-left: 10%;
}
.info h2 {
  color: hsl(233, 26%, 24%);
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  margin-top: 10%;
  margin-bottom: 0;
}
.info p {
  color: hsl(233, 10%, 68%);
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.boxes {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 100px;
}
.boxes .box {
  width: 24%;
}
.boxes h3 {
  color: hsl(233, 26%, 24%);
  font-size: 25px;
  font-weight: 300;
  margin-top: 15%;
  margin-bottom: 5%;
}
.boxes p {
  color: hsl(233, 10%, 68%);
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

/* latest articles */

#latestArticles {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 700px;
}

#latestArticles > h2 {
  color: hsl(233, 26%, 24%);
  font-size: 40px;
  font-weight: 500;
  margin-top: 7%;
  margin-left: 10%;
}
#latestArticles .articles {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
}

#latestArticles .articles article {
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: #ffffff;
  border-radius: 5px;
}
article img {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
article .caption {
  margin: 10% 10% 3% 10%;
  font-size: 10px;
  color: hsl(231, 3%, 56%);
}
article h3 {
  color: hsl(233, 26%, 24%);
  font-size: 17px;
  font-weight: 500;
  margin: 0% 10%;
  cursor: pointer;
}
article h3:active {
  color: hsl(136, 65%, 51%);
}
article p {
  color: hsl(240, 6%, 72%);
  font-size: 14px;
  font-weight: bold;
  margin: 3% 10%;
  line-height: 20px;
}

/* footer */

footer {
  background-color: #2d314e;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  color: #fff;
  height: 200px;
}

footer .links {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  width: 12%;
}
.links .social {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

footer .multipleLists {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 24%;
  margin-left: -15%;
  font-size: 15px;
}
.multipleLists ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  color: #f4f5f7;
}
.multipleLists li {
  list-style: none;
  cursor: pointer;
}
.multipleLists li:active {
  color: hsl(150, 65%, 51%);
}

footer .copyright {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
}
.copyright button {
  align-self: flex-end;
  font-size: 16px;
  width: 180px;
  height: 45px;
}
.copyright p {
  color: #767891;
  font-size: 16px;
}
.social img:active {
  filter: sepia(100%) contrast(50%) saturate(1200%) hue-rotate(423deg);
}

/* mobile version*/

@media (max-width: 376px) {
  /* header */
  .container {
    justify-content: space-around;
  }

  .container nav {
    display: none;
  }
  .container button {
    display: none;
  }
  .container .menu {
    display: flex;
  }

  .container .checkbox,
  .container .menuButton {
    display: block;
    align-self: center;
  }

  .container .checkbox {
    height: 18px;
    width: 40px;
    opacity: 0%;
  }
  .container .menuButton {
    margin-left: -35px;
  }
  .container .closeButton {
    margin-left: -35px;
  }

  .container .modal {
    position: absolute;
    width: 100%;
    height: 50%;
    transform: translate(-77%, 80px);
    background-color: rgba(0, 10, 0, 0.05);
    z-index: 1;
  }
  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 250px;
    opacity: 100%;
    margin: 5% auto;
    background-color: #fff;
  }
  .modalContent li {
    padding: 10px;
    align-self: center;
    list-style: none;
    font-size: 23px;
    margin-left: -25px;
    color: #213647;
    font-weight: 400;
  }

  .container .checkbox:checked + .menuButton {
    display: none;
  }
  .container .checkbox:checked ~ .closeButton,
  .container .checkbox:checked ~ .modal {
    display: block;
  }

  /*showcase*/
  #showcase {
    flex-direction: column;
    justify-content: start;
    height: auto;
  }

  #showcase .mobile {
    margin-left: 3%;
    background: url(./images/bg-intro-mobile.svg) no-repeat;
    background-position-y: -65px;
    height: 280px;
    width: 100%;
    margin: 0;
  }
  .mobile img {
    height: 400px;
    transform: translate(7%, -28%);
  }

  #showcase .tagline {
    order: 2;
    width: 90%;
    justify-content: flex-start;
    margin: auto;
    height: 400px;
  }
  .tagline h1 {
    color: hsl(233, 26%, 24%);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
  }
  .tagline p {
    color: hsl(233, 10%, 68%);
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
  .tagline button {
    align-self: center;
  }
  /* whyUS section */

  #whyUs {
    height: auto;
  }

  #whyUs .info {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .info h2 {
    line-height: 50px;
    margin-top: 10%;
    margin-bottom: 10px;
  }
  .info p {
    width: 90%;
    margin: auto;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
  .boxes .box {
    text-align: center;
    width: auto;
    margin: 60px 20px 0px 20px;
  }
  .boxes h3 {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  /* latest articles */

  #latestArticles {
    height: auto;
    padding-bottom: 15%;
  }

  #latestArticles > h2 {
    font-size: 35px;
    margin-top: 20%;
    margin-left: 19%;
  }
  #latestArticles .articles {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  #latestArticles .articles article {
    align-self: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10%;
  }
  article p {
    color: hsl(240, 6%, 72%);
    font-size: 14px;
    font-weight: bold;
    margin: 3% 10% 10% 10%;
    line-height: 20px;
  }

  /* footer */

  footer {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  footer .links {
    justify-content: center;
    height: 110px;
    width: 100%;
  }

  footer .links > .logoWhite {
    align-self: center;
    margin-bottom: 30px;
  }
  .links .social {
    align-self: center;
    display: flex;
    margin-left: 20px;
    margin-bottom: -30px;
  }
  .links .social img {
    margin-right: 20px;
  }

  footer .multipleLists {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: 15px;
    margin: 0;
    margin-top: 25px;
  }
  .multipleLists ul {
    margin: 0;
    padding: 0;
    align-self: center;
    height: 120px;
  }
  .multipleLists li {
    text-align: center;
    margin-left: -20%;
  }
  .multipleLists li:active {
    color: hsl(150, 65%, 51%);
  }

  footer .copyright {
    height: auto;
  }
  .copyright button {
    align-self: center;
    margin-top: 20px;
  }
}
